{% extends 'navbar.html' %}
{% block title %}
{{post.title}}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row justify-content-md-center pt-5">
        <div class="col-md-8">
          <div class="col-12"><h1>{{post.name}}</h1></div>
            <br/>
            <br/>
            <div class="col-12"><p><b> {{post.name}}</b></p></div>
            <div class="col-12"><p><b> {{post.email}}</b></p></div>
            <br/>
          <div class="col-12"><p>{{post.content|safe}}</p></div>
        </div>
        </div>
      </div>
{% endblock %}